@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);




body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #AECCC6;
    height: 100vh;
    user-select: none;
}

#field {
    width: 1000px;
    height: 500px;
    padding: 10px;
    border: 5px dashed #1E549F;
    position: relative;
    overflow: hidden;
}

#ball {
    width: 100px;
    animation: ballAnimation 2s linear infinite;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    transition: top 0.5s ease, left 0.5s ease;
}

#bill {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 30px;
    top: 0;
    width: 200px;
    height: 30px;
    padding: 5px 30px;
    border-radius: 0 0 25px 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;
    background: #1E549F;

    img {
        width: 30px;
    }
}

#regime {
    width: 55px;
    height: 300px;
    margin-top: -200px;
    margin-left: -5px;
    padding: 15px;
    border-radius: 0 0 50px 5px;
    background: #1E549F;

    h3 {
        width: 250px;
        height: 35px;
        padding: 10px 5px;
        margin-top: -15px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: #fff;
        border-radius: 0 50px 50px 0;
        background: #1E549F;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0 0 5px 1px white;
        border: none;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.2);
    }
}

#normal {
    margin-top: 5px;
    background: greenyellow;
}

#average {
    background: yellow;
}

#impossible {
    background: red;
}



@keyframes ballAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg);
    }
}

